{% extends 'store/base.html' %}
{% block content %}


<div class="container">
    <form  method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleFormControlInput1">Name</label>
          <input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Name">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" name="email" placeholder="Enter Your Email Address">
          </div>

          <div class="form-group">
            <label for="exampleFormControlInput1">Contact no</label>
            <input type="tel" class="form-control" id="exampleFormControlInput1" name='contact' placeholder="Enter Your No.">
          </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" name='desc' rows="3" placeholder="Ask Your Queries" ></textarea>
        </div>

        <button>submit</button>
      </form>
</div>
{% endblock %}

{% block js %}
<script>

  if(localStorage.getItem('cart')== null){
    var cart = {};
  }
  else{
     cart = JSON.parse(localStorage.getItem('cart'))
     document.getElementById('cart').innerHTML = Object.keys(cart).length;
  }
  $('.cart').click(function(){
    console.log('haaaa')
    var idstr = this.id.toString();
    console.log(idstr) 
    if(cart[idstr] != undefined ){
      cart[idstr] = cart[idstr] + 1;
    }
    else{
      cart[idstr] = 1;
    }
    console.log(cart)
    localStorage.setItem("cart",JSON.stringify(cart))
    document.getElementById('cart').innerHTML = Object.keys(cart).length;

});

$('#popcart').popover()
document.getElementById('popcart').setAttribute('data-content','<h5> cart</h5>');
</script>
{% endblock %}
